<style>
    * {
        margin: 0;
        padding: 0;
    }

    .ec-add-button {
        margin: 2%;
    }

    .ec-list {
        margin: 0px 4%;
    }

    .ec-list-item {
        display: flex;
        flex-direction: row;
    }


</style>
<div class="ec-page-content">
    <div style="text-align:right;">
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--fab mdl-button--colored ec-add-button"
                ng-click="gotoDetails()">
            <i class="material-icons">add</i>
        </button>
    </div>
    <div class="ec-list-container">
        <ul class="ec-list">
            <li class="ec-list-item" ng-repeat="product in products">
                <div>
                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent"
                            ng-click="deleteProduct(product)">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
                <div ng-click="gotoDetails(product)">
                    <h3>{{product.product}}</h3>

                    <p>{{product.price | currency}} {{product.description}}
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
