<style>
.ec-page-content {
    margin: 4%;
}

h4 {
    font: bold 24px/1.5 Helvetica, Verdana, sans-serif;
    margin: 2%;
}

.ec-submit-button {
    margin: 4% 0px;
}
</style>
<form name="myForm" class="ec-page-content" novalidate>
    <h4>{{title}}</h4>
    <fieldset>
        <input type="text" placeholder="product name" ng-model="product.product" required>
        <input type="number" placeholder="price" ng-model="product.price" required>
    </fieldset>
    <fieldset>
        <input type="text" placeholder="description" ng-model="product.description" required>
    </fieldset>
    <p>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored ec-submit-button" ng-click="saveOrAddProduct()" type="submit" ng-disabled="myForm.$invalid">Submit</button>
    </p>
</form>

