<style>
.ec-page-content {
    margin: 4%;
}

h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
    margin: 2%;
}
</style>
<!-- <h3 class="ec-page-content" ng-repeat="product in products">
{{product.product}} {{product.price | currency}}
</h3> -->
<table>
    <tr ng-repeat="product in products">
        <td>{{product.product}}</td>
        <td>{{product.price | currency}}</td>
        <td>
            <button ng-click="addToCart(product)">Add to Cart</button>
        </td>
    </tr>
</table>
<h4>Cart</h4>
<table>
    <tr ng-repeat="item in items track by $id(item)">
        <td>{{item.product.product}}</td>
        <td>{{item.product.price | currency}}</td>
        <td>{{item.amount}}</td>
        <td>
            <button ng-click="cart.removeItem(item)">x</button>
        </td>
    </tr>
</table>
